<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pccw.purchasecontrol.mapper.ScdaPdrAndPprMapper" >
  <resultMap id="BaseResultMap" type="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPpr" >
    <id column="PDR_PPR_NUMBER" property="pdrPprNumber" jdbcType="VARCHAR" />
    <result column="PURCHASE_RESULT_ID" property="purchaseResultId" jdbcType="DECIMAL" />
    <result column="PURCHASE_SCHEME_NUMBER" property="purchaseSchemeNumber" jdbcType="VARCHAR" />
    <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
    <result column="PURCHASE_TYPE_CODE" property="purchaseTypeCode" jdbcType="VARCHAR" />
    <result column="PURCHASE_RESULT_CONFIRM_DATE" property="purchaseResultConfirmDate" jdbcType="TIMESTAMP" />
    <result column="STATUS_LOOKUP_CODE" property="statusLookupCode" jdbcType="VARCHAR" />
    <result column="DATE_COMPLETED" property="dateCompleted" jdbcType="TIMESTAMP" />
    <result column="PDR_PPR_CREATION_DATE" property="pdrPprCreationDate" jdbcType="TIMESTAMP" />
    <result column="CONTRACT_AMOUNT" property="contractAmount" jdbcType="DECIMAL" />
    <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
    <result column="TAX_CODE" property="taxCode" jdbcType="VARCHAR" />
    <result column="PURCHASE_BUDGET" property="purchaseBudget" jdbcType="DECIMAL" />
    <result column="PURCHASE_BUDGET_TAX" property="purchaseBudgetTax" jdbcType="DECIMAL" />
    <result column="ESTIMATED_INVESTMENT" property="estimatedInvestment" jdbcType="DECIMAL" />
    <result column="PURCHASE_CONTENT" property="purchaseContent" jdbcType="VARCHAR" />
    <result column="ES_NUMBER" property="esNumber" jdbcType="VARCHAR" />
    <result column="ES_PROJECT_CODE" property="esProjectCode" jdbcType="VARCHAR" />
    <result column="EXPENDITURE_TYPE" property="expenditureType" jdbcType="VARCHAR" />
    <result column="PURCHASE_METHOD_CODE" property="purchaseMethodCode" jdbcType="VARCHAR" />
    <result column="UNIQUE_SOURCE_SCENE_CODE" property="uniqueSourceSceneCode" jdbcType="VARCHAR" />
    <result column="APPLICATION_REASON_CODE" property="applicationReasonCode" jdbcType="VARCHAR" />
    <result column="APPLICATION_REASON" property="applicationReason" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PDR_PPR_NUMBER, PURCHASE_RESULT_ID, PURCHASE_SCHEME_NUMBER, DEPARTMENT_NAME, PURCHASE_TYPE_CODE, 
    PURCHASE_RESULT_CONFIRM_DATE, STATUS_LOOKUP_CODE, DATE_COMPLETED, PDR_PPR_CREATION_DATE, 
    CONTRACT_AMOUNT, TAX_RATE, TAX_CODE, PURCHASE_BUDGET, PURCHASE_BUDGET_TAX, ESTIMATED_INVESTMENT, 
    PURCHASE_CONTENT, ES_NUMBER, ES_PROJECT_CODE, EXPENDITURE_TYPE, PURCHASE_METHOD_CODE, 
    UNIQUE_SOURCE_SCENE_CODE, APPLICATION_REASON_CODE, APPLICATION_REASON, CREATION_DATE, 
    CREATED_BY, LAST_UPDATE_DATE, LAST_UPDATED_BY, ENABLE_FLAG, ATTRIBUTE1, ATTRIBUTE2, 
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
    ATTRIBUTE10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPprExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCDA_PDR_AND_PPR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SCDA_PDR_AND_PPR
    where PDR_PPR_NUMBER = #{pdrPprNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SCDA_PDR_AND_PPR
    where PDR_PPR_NUMBER = #{pdrPprNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPprExample" >
    delete from SCDA_PDR_AND_PPR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPpr" >
    insert into SCDA_PDR_AND_PPR (PDR_PPR_NUMBER, PURCHASE_RESULT_ID, PURCHASE_SCHEME_NUMBER, 
      DEPARTMENT_NAME, PURCHASE_TYPE_CODE, PURCHASE_RESULT_CONFIRM_DATE, 
      STATUS_LOOKUP_CODE, DATE_COMPLETED, PDR_PPR_CREATION_DATE, 
      CONTRACT_AMOUNT, TAX_RATE, TAX_CODE, 
      PURCHASE_BUDGET, PURCHASE_BUDGET_TAX, ESTIMATED_INVESTMENT, 
      PURCHASE_CONTENT, ES_NUMBER, ES_PROJECT_CODE, 
      EXPENDITURE_TYPE, PURCHASE_METHOD_CODE, UNIQUE_SOURCE_SCENE_CODE, 
      APPLICATION_REASON_CODE, APPLICATION_REASON, 
      CREATION_DATE, CREATED_BY, LAST_UPDATE_DATE, 
      LAST_UPDATED_BY, ENABLE_FLAG, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10
      )
    values (#{pdrPprNumber,jdbcType=VARCHAR}, #{purchaseResultId,jdbcType=DECIMAL}, #{purchaseSchemeNumber,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{purchaseTypeCode,jdbcType=VARCHAR}, #{purchaseResultConfirmDate,jdbcType=DATE}, 
      #{statusLookupCode,jdbcType=VARCHAR}, #{dateCompleted,jdbcType=DATE}, #{pdrPprCreationDate,jdbcType=DATE}, 
      #{contractAmount,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL}, #{taxCode,jdbcType=VARCHAR}, 
      #{purchaseBudget,jdbcType=DECIMAL}, #{purchaseBudgetTax,jdbcType=DECIMAL}, #{estimatedInvestment,jdbcType=DECIMAL}, 
      #{purchaseContent,jdbcType=VARCHAR}, #{esNumber,jdbcType=VARCHAR}, #{esProjectCode,jdbcType=VARCHAR}, 
      #{expenditureType,jdbcType=VARCHAR}, #{purchaseMethodCode,jdbcType=VARCHAR}, #{uniqueSourceSceneCode,jdbcType=VARCHAR}, 
      #{applicationReasonCode,jdbcType=VARCHAR}, #{applicationReason,jdbcType=VARCHAR}, 
      #{creationDate,jdbcType=DATE}, #{createdBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=DATE}, 
      #{lastUpdatedBy,jdbcType=VARCHAR}, #{enableFlag,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPpr" >
    insert into SCDA_PDR_AND_PPR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pdrPprNumber != null" >
        PDR_PPR_NUMBER,
      </if>
      <if test="purchaseResultId != null" >
        PURCHASE_RESULT_ID,
      </if>
      <if test="purchaseSchemeNumber != null" >
        PURCHASE_SCHEME_NUMBER,
      </if>
      <if test="departmentName != null" >
        DEPARTMENT_NAME,
      </if>
      <if test="purchaseTypeCode != null" >
        PURCHASE_TYPE_CODE,
      </if>
      <if test="purchaseResultConfirmDate != null" >
        PURCHASE_RESULT_CONFIRM_DATE,
      </if>
      <if test="statusLookupCode != null" >
        STATUS_LOOKUP_CODE,
      </if>
      <if test="dateCompleted != null" >
        DATE_COMPLETED,
      </if>
      <if test="pdrPprCreationDate != null" >
        PDR_PPR_CREATION_DATE,
      </if>
      <if test="contractAmount != null" >
        CONTRACT_AMOUNT,
      </if>
      <if test="taxRate != null" >
        TAX_RATE,
      </if>
      <if test="taxCode != null" >
        TAX_CODE,
      </if>
      <if test="purchaseBudget != null" >
        PURCHASE_BUDGET,
      </if>
      <if test="purchaseBudgetTax != null" >
        PURCHASE_BUDGET_TAX,
      </if>
      <if test="estimatedInvestment != null" >
        ESTIMATED_INVESTMENT,
      </if>
      <if test="purchaseContent != null" >
        PURCHASE_CONTENT,
      </if>
      <if test="esNumber != null" >
        ES_NUMBER,
      </if>
      <if test="esProjectCode != null" >
        ES_PROJECT_CODE,
      </if>
      <if test="expenditureType != null" >
        EXPENDITURE_TYPE,
      </if>
      <if test="purchaseMethodCode != null" >
        PURCHASE_METHOD_CODE,
      </if>
      <if test="uniqueSourceSceneCode != null" >
        UNIQUE_SOURCE_SCENE_CODE,
      </if>
      <if test="applicationReasonCode != null" >
        APPLICATION_REASON_CODE,
      </if>
      <if test="applicationReason != null" >
        APPLICATION_REASON,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pdrPprNumber != null" >
        #{pdrPprNumber,jdbcType=VARCHAR},
      </if>
      <if test="purchaseResultId != null" >
        #{purchaseResultId,jdbcType=DECIMAL},
      </if>
      <if test="purchaseSchemeNumber != null" >
        #{purchaseSchemeNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTypeCode != null" >
        #{purchaseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseResultConfirmDate != null" >
        #{purchaseResultConfirmDate,jdbcType=DATE},
      </if>
      <if test="statusLookupCode != null" >
        #{statusLookupCode,jdbcType=VARCHAR},
      </if>
      <if test="dateCompleted != null" >
        #{dateCompleted,jdbcType=DATE},
      </if>
      <if test="pdrPprCreationDate != null" >
        #{pdrPprCreationDate,jdbcType=DATE},
      </if>
      <if test="contractAmount != null" >
        #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="taxCode != null" >
        #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseBudget != null" >
        #{purchaseBudget,jdbcType=DECIMAL},
      </if>
      <if test="purchaseBudgetTax != null" >
        #{purchaseBudgetTax,jdbcType=DECIMAL},
      </if>
      <if test="estimatedInvestment != null" >
        #{estimatedInvestment,jdbcType=DECIMAL},
      </if>
      <if test="purchaseContent != null" >
        #{purchaseContent,jdbcType=VARCHAR},
      </if>
      <if test="esNumber != null" >
        #{esNumber,jdbcType=VARCHAR},
      </if>
      <if test="esProjectCode != null" >
        #{esProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="expenditureType != null" >
        #{expenditureType,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMethodCode != null" >
        #{purchaseMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="uniqueSourceSceneCode != null" >
        #{uniqueSourceSceneCode,jdbcType=VARCHAR},
      </if>
      <if test="applicationReasonCode != null" >
        #{applicationReasonCode,jdbcType=VARCHAR},
      </if>
      <if test="applicationReason != null" >
        #{applicationReason,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPprExample" resultType="java.lang.Integer" >
    select count(*) from SCDA_PDR_AND_PPR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SCDA_PDR_AND_PPR
    <set >
      <if test="record.pdrPprNumber != null" >
        PDR_PPR_NUMBER = #{record.pdrPprNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseResultId != null" >
        PURCHASE_RESULT_ID = #{record.purchaseResultId,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseSchemeNumber != null" >
        PURCHASE_SCHEME_NUMBER = #{record.purchaseSchemeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null" >
        DEPARTMENT_NAME = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseTypeCode != null" >
        PURCHASE_TYPE_CODE = #{record.purchaseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseResultConfirmDate != null" >
        PURCHASE_RESULT_CONFIRM_DATE = #{record.purchaseResultConfirmDate,jdbcType=DATE},
      </if>
      <if test="record.statusLookupCode != null" >
        STATUS_LOOKUP_CODE = #{record.statusLookupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dateCompleted != null" >
        DATE_COMPLETED = #{record.dateCompleted,jdbcType=DATE},
      </if>
      <if test="record.pdrPprCreationDate != null" >
        PDR_PPR_CREATION_DATE = #{record.pdrPprCreationDate,jdbcType=DATE},
      </if>
      <if test="record.contractAmount != null" >
        CONTRACT_AMOUNT = #{record.contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.taxRate != null" >
        TAX_RATE = #{record.taxRate,jdbcType=DECIMAL},
      </if>
      <if test="record.taxCode != null" >
        TAX_CODE = #{record.taxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseBudget != null" >
        PURCHASE_BUDGET = #{record.purchaseBudget,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseBudgetTax != null" >
        PURCHASE_BUDGET_TAX = #{record.purchaseBudgetTax,jdbcType=DECIMAL},
      </if>
      <if test="record.estimatedInvestment != null" >
        ESTIMATED_INVESTMENT = #{record.estimatedInvestment,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseContent != null" >
        PURCHASE_CONTENT = #{record.purchaseContent,jdbcType=VARCHAR},
      </if>
      <if test="record.esNumber != null" >
        ES_NUMBER = #{record.esNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.esProjectCode != null" >
        ES_PROJECT_CODE = #{record.esProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.expenditureType != null" >
        EXPENDITURE_TYPE = #{record.expenditureType,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseMethodCode != null" >
        PURCHASE_METHOD_CODE = #{record.purchaseMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="record.uniqueSourceSceneCode != null" >
        UNIQUE_SOURCE_SCENE_CODE = #{record.uniqueSourceSceneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationReasonCode != null" >
        APPLICATION_REASON_CODE = #{record.applicationReasonCode,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationReason != null" >
        APPLICATION_REASON = #{record.applicationReason,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null" >
        CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="record.lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.enableFlag != null" >
        ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute1 != null" >
        ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute2 != null" >
        ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute3 != null" >
        ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute4 != null" >
        ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute5 != null" >
        ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute6 != null" >
        ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute7 != null" >
        ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute8 != null" >
        ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute9 != null" >
        ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute10 != null" >
        ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SCDA_PDR_AND_PPR
    set PDR_PPR_NUMBER = #{record.pdrPprNumber,jdbcType=VARCHAR},
      PURCHASE_RESULT_ID = #{record.purchaseResultId,jdbcType=DECIMAL},
      PURCHASE_SCHEME_NUMBER = #{record.purchaseSchemeNumber,jdbcType=VARCHAR},
      DEPARTMENT_NAME = #{record.departmentName,jdbcType=VARCHAR},
      PURCHASE_TYPE_CODE = #{record.purchaseTypeCode,jdbcType=VARCHAR},
      PURCHASE_RESULT_CONFIRM_DATE = #{record.purchaseResultConfirmDate,jdbcType=DATE},
      STATUS_LOOKUP_CODE = #{record.statusLookupCode,jdbcType=VARCHAR},
      DATE_COMPLETED = #{record.dateCompleted,jdbcType=DATE},
      PDR_PPR_CREATION_DATE = #{record.pdrPprCreationDate,jdbcType=DATE},
      CONTRACT_AMOUNT = #{record.contractAmount,jdbcType=DECIMAL},
      TAX_RATE = #{record.taxRate,jdbcType=DECIMAL},
      TAX_CODE = #{record.taxCode,jdbcType=VARCHAR},
      PURCHASE_BUDGET = #{record.purchaseBudget,jdbcType=DECIMAL},
      PURCHASE_BUDGET_TAX = #{record.purchaseBudgetTax,jdbcType=DECIMAL},
      ESTIMATED_INVESTMENT = #{record.estimatedInvestment,jdbcType=DECIMAL},
      PURCHASE_CONTENT = #{record.purchaseContent,jdbcType=VARCHAR},
      ES_NUMBER = #{record.esNumber,jdbcType=VARCHAR},
      ES_PROJECT_CODE = #{record.esProjectCode,jdbcType=VARCHAR},
      EXPENDITURE_TYPE = #{record.expenditureType,jdbcType=VARCHAR},
      PURCHASE_METHOD_CODE = #{record.purchaseMethodCode,jdbcType=VARCHAR},
      UNIQUE_SOURCE_SCENE_CODE = #{record.uniqueSourceSceneCode,jdbcType=VARCHAR},
      APPLICATION_REASON_CODE = #{record.applicationReasonCode,jdbcType=VARCHAR},
      APPLICATION_REASON = #{record.applicationReason,jdbcType=VARCHAR},
      CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPpr" >
    update SCDA_PDR_AND_PPR
    <set >
      <if test="purchaseResultId != null" >
        PURCHASE_RESULT_ID = #{purchaseResultId,jdbcType=DECIMAL},
      </if>
      <if test="purchaseSchemeNumber != null" >
        PURCHASE_SCHEME_NUMBER = #{purchaseSchemeNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseTypeCode != null" >
        PURCHASE_TYPE_CODE = #{purchaseTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseResultConfirmDate != null" >
        PURCHASE_RESULT_CONFIRM_DATE = #{purchaseResultConfirmDate,jdbcType=DATE},
      </if>
      <if test="statusLookupCode != null" >
        STATUS_LOOKUP_CODE = #{statusLookupCode,jdbcType=VARCHAR},
      </if>
      <if test="dateCompleted != null" >
        DATE_COMPLETED = #{dateCompleted,jdbcType=DATE},
      </if>
      <if test="pdrPprCreationDate != null" >
        PDR_PPR_CREATION_DATE = #{pdrPprCreationDate,jdbcType=DATE},
      </if>
      <if test="contractAmount != null" >
        CONTRACT_AMOUNT = #{contractAmount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        TAX_RATE = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="taxCode != null" >
        TAX_CODE = #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseBudget != null" >
        PURCHASE_BUDGET = #{purchaseBudget,jdbcType=DECIMAL},
      </if>
      <if test="purchaseBudgetTax != null" >
        PURCHASE_BUDGET_TAX = #{purchaseBudgetTax,jdbcType=DECIMAL},
      </if>
      <if test="estimatedInvestment != null" >
        ESTIMATED_INVESTMENT = #{estimatedInvestment,jdbcType=DECIMAL},
      </if>
      <if test="purchaseContent != null" >
        PURCHASE_CONTENT = #{purchaseContent,jdbcType=VARCHAR},
      </if>
      <if test="esNumber != null" >
        ES_NUMBER = #{esNumber,jdbcType=VARCHAR},
      </if>
      <if test="esProjectCode != null" >
        ES_PROJECT_CODE = #{esProjectCode,jdbcType=VARCHAR},
      </if>
      <if test="expenditureType != null" >
        EXPENDITURE_TYPE = #{expenditureType,jdbcType=VARCHAR},
      </if>
      <if test="purchaseMethodCode != null" >
        PURCHASE_METHOD_CODE = #{purchaseMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="uniqueSourceSceneCode != null" >
        UNIQUE_SOURCE_SCENE_CODE = #{uniqueSourceSceneCode,jdbcType=VARCHAR},
      </if>
      <if test="applicationReasonCode != null" >
        APPLICATION_REASON_CODE = #{applicationReasonCode,jdbcType=VARCHAR},
      </if>
      <if test="applicationReason != null" >
        APPLICATION_REASON = #{applicationReason,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    where PDR_PPR_NUMBER = #{pdrPprNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaPdrAndPpr" >
    update SCDA_PDR_AND_PPR
    set PURCHASE_RESULT_ID = #{purchaseResultId,jdbcType=DECIMAL},
      PURCHASE_SCHEME_NUMBER = #{purchaseSchemeNumber,jdbcType=VARCHAR},
      DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
      PURCHASE_TYPE_CODE = #{purchaseTypeCode,jdbcType=VARCHAR},
      PURCHASE_RESULT_CONFIRM_DATE = #{purchaseResultConfirmDate,jdbcType=DATE},
      STATUS_LOOKUP_CODE = #{statusLookupCode,jdbcType=VARCHAR},
      DATE_COMPLETED = #{dateCompleted,jdbcType=DATE},
      PDR_PPR_CREATION_DATE = #{pdrPprCreationDate,jdbcType=DATE},
      CONTRACT_AMOUNT = #{contractAmount,jdbcType=DECIMAL},
      TAX_RATE = #{taxRate,jdbcType=DECIMAL},
      TAX_CODE = #{taxCode,jdbcType=VARCHAR},
      PURCHASE_BUDGET = #{purchaseBudget,jdbcType=DECIMAL},
      PURCHASE_BUDGET_TAX = #{purchaseBudgetTax,jdbcType=DECIMAL},
      ESTIMATED_INVESTMENT = #{estimatedInvestment,jdbcType=DECIMAL},
      PURCHASE_CONTENT = #{purchaseContent,jdbcType=VARCHAR},
      ES_NUMBER = #{esNumber,jdbcType=VARCHAR},
      ES_PROJECT_CODE = #{esProjectCode,jdbcType=VARCHAR},
      EXPENDITURE_TYPE = #{expenditureType,jdbcType=VARCHAR},
      PURCHASE_METHOD_CODE = #{purchaseMethodCode,jdbcType=VARCHAR},
      UNIQUE_SOURCE_SCENE_CODE = #{uniqueSourceSceneCode,jdbcType=VARCHAR},
      APPLICATION_REASON_CODE = #{applicationReasonCode,jdbcType=VARCHAR},
      APPLICATION_REASON = #{applicationReason,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=DATE},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR}
    where PDR_PPR_NUMBER = #{pdrPprNumber,jdbcType=VARCHAR}
  </update>
</mapper>