<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pccw.purchasecontrol.mapper.ScdaYearTwodeptMapper" >
  <resultMap id="BaseResultMap" type="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodept" >
    <id column="YT_ID" property="ytId" jdbcType="VARCHAR" />
    <result column="YT_DEPT" property="ytDept" jdbcType="VARCHAR" />
    <result column="YT_TYPE" property="ytType" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE" property="deadlineDate" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_1" property="deadlineDate1" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_2" property="deadlineDate2" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_3" property="deadlineDate3" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_4" property="deadlineDate4" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_5" property="deadlineDate5" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_6" property="deadlineDate6" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_7" property="deadlineDate7" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_8" property="deadlineDate8" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_9" property="deadlineDate9" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_10" property="deadlineDate10" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_11" property="deadlineDate11" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE_12" property="deadlineDate12" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    YT_ID, YT_DEPT, YT_TYPE, DEADLINE_DATE, DEADLINE_DATE_1, DEADLINE_DATE_2, DEADLINE_DATE_3, 
    DEADLINE_DATE_4, DEADLINE_DATE_5, DEADLINE_DATE_6, DEADLINE_DATE_7, DEADLINE_DATE_8, 
    DEADLINE_DATE_9, DEADLINE_DATE_10, DEADLINE_DATE_11, DEADLINE_DATE_12, CREATION_DATE, 
    CREATED_BY, LAST_UPDATE_DATE, LAST_UPDATED_BY, ENABLE_FLAG, ATTRIBUTE1, ATTRIBUTE2, 
    ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
    ATTRIBUTE10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCDA_YEAR_TWODEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SCDA_YEAR_TWODEPT
    where YT_ID = #{ytId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SCDA_YEAR_TWODEPT
    where YT_ID = #{ytId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodeptExample" >
    delete from SCDA_YEAR_TWODEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodept" >
    insert into SCDA_YEAR_TWODEPT (YT_ID, YT_DEPT, YT_TYPE, 
      DEADLINE_DATE, DEADLINE_DATE_1, DEADLINE_DATE_2, 
      DEADLINE_DATE_3, DEADLINE_DATE_4, DEADLINE_DATE_5, 
      DEADLINE_DATE_6, DEADLINE_DATE_7, DEADLINE_DATE_8, 
      DEADLINE_DATE_9, DEADLINE_DATE_10, DEADLINE_DATE_11, 
      DEADLINE_DATE_12, CREATION_DATE, CREATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATED_BY, ENABLE_FLAG, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10)
    values (#{ytId,jdbcType=VARCHAR}, #{ytDept,jdbcType=VARCHAR}, #{ytType,jdbcType=VARCHAR}, 
      #{deadlineDate,jdbcType=VARCHAR}, #{deadlineDate1,jdbcType=VARCHAR}, #{deadlineDate2,jdbcType=VARCHAR}, 
      #{deadlineDate3,jdbcType=VARCHAR}, #{deadlineDate4,jdbcType=VARCHAR}, #{deadlineDate5,jdbcType=VARCHAR}, 
      #{deadlineDate6,jdbcType=VARCHAR}, #{deadlineDate7,jdbcType=VARCHAR}, #{deadlineDate8,jdbcType=VARCHAR}, 
      #{deadlineDate9,jdbcType=VARCHAR}, #{deadlineDate10,jdbcType=VARCHAR}, #{deadlineDate11,jdbcType=VARCHAR}, 
      #{deadlineDate12,jdbcType=VARCHAR}, #{creationDate,jdbcType=DATE}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=DATE}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{enableFlag,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodept" >
    insert into SCDA_YEAR_TWODEPT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ytId != null" >
        YT_ID,
      </if>
      <if test="ytDept != null" >
        YT_DEPT,
      </if>
      <if test="ytType != null" >
        YT_TYPE,
      </if>
      <if test="deadlineDate != null" >
        DEADLINE_DATE,
      </if>
      <if test="deadlineDate1 != null" >
        DEADLINE_DATE_1,
      </if>
      <if test="deadlineDate2 != null" >
        DEADLINE_DATE_2,
      </if>
      <if test="deadlineDate3 != null" >
        DEADLINE_DATE_3,
      </if>
      <if test="deadlineDate4 != null" >
        DEADLINE_DATE_4,
      </if>
      <if test="deadlineDate5 != null" >
        DEADLINE_DATE_5,
      </if>
      <if test="deadlineDate6 != null" >
        DEADLINE_DATE_6,
      </if>
      <if test="deadlineDate7 != null" >
        DEADLINE_DATE_7,
      </if>
      <if test="deadlineDate8 != null" >
        DEADLINE_DATE_8,
      </if>
      <if test="deadlineDate9 != null" >
        DEADLINE_DATE_9,
      </if>
      <if test="deadlineDate10 != null" >
        DEADLINE_DATE_10,
      </if>
      <if test="deadlineDate11 != null" >
        DEADLINE_DATE_11,
      </if>
      <if test="deadlineDate12 != null" >
        DEADLINE_DATE_12,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ytId != null" >
        #{ytId,jdbcType=VARCHAR},
      </if>
      <if test="ytDept != null" >
        #{ytDept,jdbcType=VARCHAR},
      </if>
      <if test="ytType != null" >
        #{ytType,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate != null" >
        #{deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate1 != null" >
        #{deadlineDate1,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate2 != null" >
        #{deadlineDate2,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate3 != null" >
        #{deadlineDate3,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate4 != null" >
        #{deadlineDate4,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate5 != null" >
        #{deadlineDate5,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate6 != null" >
        #{deadlineDate6,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate7 != null" >
        #{deadlineDate7,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate8 != null" >
        #{deadlineDate8,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate9 != null" >
        #{deadlineDate9,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate10 != null" >
        #{deadlineDate10,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate11 != null" >
        #{deadlineDate11,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate12 != null" >
        #{deadlineDate12,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodeptExample" resultType="java.lang.Integer" >
    select count(*) from SCDA_YEAR_TWODEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SCDA_YEAR_TWODEPT
    <set >
      <if test="record.ytId != null" >
        YT_ID = #{record.ytId,jdbcType=VARCHAR},
      </if>
      <if test="record.ytDept != null" >
        YT_DEPT = #{record.ytDept,jdbcType=VARCHAR},
      </if>
      <if test="record.ytType != null" >
        YT_TYPE = #{record.ytType,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate != null" >
        DEADLINE_DATE = #{record.deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate1 != null" >
        DEADLINE_DATE_1 = #{record.deadlineDate1,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate2 != null" >
        DEADLINE_DATE_2 = #{record.deadlineDate2,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate3 != null" >
        DEADLINE_DATE_3 = #{record.deadlineDate3,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate4 != null" >
        DEADLINE_DATE_4 = #{record.deadlineDate4,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate5 != null" >
        DEADLINE_DATE_5 = #{record.deadlineDate5,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate6 != null" >
        DEADLINE_DATE_6 = #{record.deadlineDate6,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate7 != null" >
        DEADLINE_DATE_7 = #{record.deadlineDate7,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate8 != null" >
        DEADLINE_DATE_8 = #{record.deadlineDate8,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate9 != null" >
        DEADLINE_DATE_9 = #{record.deadlineDate9,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate10 != null" >
        DEADLINE_DATE_10 = #{record.deadlineDate10,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate11 != null" >
        DEADLINE_DATE_11 = #{record.deadlineDate11,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate12 != null" >
        DEADLINE_DATE_12 = #{record.deadlineDate12,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null" >
        CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="record.lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.enableFlag != null" >
        ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute1 != null" >
        ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute2 != null" >
        ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute3 != null" >
        ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute4 != null" >
        ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute5 != null" >
        ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute6 != null" >
        ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute7 != null" >
        ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute8 != null" >
        ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute9 != null" >
        ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute10 != null" >
        ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SCDA_YEAR_TWODEPT
    set YT_ID = #{record.ytId,jdbcType=VARCHAR},
      YT_DEPT = #{record.ytDept,jdbcType=VARCHAR},
      YT_TYPE = #{record.ytType,jdbcType=VARCHAR},
      DEADLINE_DATE = #{record.deadlineDate,jdbcType=VARCHAR},
      DEADLINE_DATE_1 = #{record.deadlineDate1,jdbcType=VARCHAR},
      DEADLINE_DATE_2 = #{record.deadlineDate2,jdbcType=VARCHAR},
      DEADLINE_DATE_3 = #{record.deadlineDate3,jdbcType=VARCHAR},
      DEADLINE_DATE_4 = #{record.deadlineDate4,jdbcType=VARCHAR},
      DEADLINE_DATE_5 = #{record.deadlineDate5,jdbcType=VARCHAR},
      DEADLINE_DATE_6 = #{record.deadlineDate6,jdbcType=VARCHAR},
      DEADLINE_DATE_7 = #{record.deadlineDate7,jdbcType=VARCHAR},
      DEADLINE_DATE_8 = #{record.deadlineDate8,jdbcType=VARCHAR},
      DEADLINE_DATE_9 = #{record.deadlineDate9,jdbcType=VARCHAR},
      DEADLINE_DATE_10 = #{record.deadlineDate10,jdbcType=VARCHAR},
      DEADLINE_DATE_11 = #{record.deadlineDate11,jdbcType=VARCHAR},
      DEADLINE_DATE_12 = #{record.deadlineDate12,jdbcType=VARCHAR},
      CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodept" >
    update SCDA_YEAR_TWODEPT
    <set >
      <if test="ytDept != null" >
        YT_DEPT = #{ytDept,jdbcType=VARCHAR},
      </if>
      <if test="ytType != null" >
        YT_TYPE = #{ytType,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate != null" >
        DEADLINE_DATE = #{deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate1 != null" >
        DEADLINE_DATE_1 = #{deadlineDate1,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate2 != null" >
        DEADLINE_DATE_2 = #{deadlineDate2,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate3 != null" >
        DEADLINE_DATE_3 = #{deadlineDate3,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate4 != null" >
        DEADLINE_DATE_4 = #{deadlineDate4,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate5 != null" >
        DEADLINE_DATE_5 = #{deadlineDate5,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate6 != null" >
        DEADLINE_DATE_6 = #{deadlineDate6,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate7 != null" >
        DEADLINE_DATE_7 = #{deadlineDate7,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate8 != null" >
        DEADLINE_DATE_8 = #{deadlineDate8,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate9 != null" >
        DEADLINE_DATE_9 = #{deadlineDate9,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate10 != null" >
        DEADLINE_DATE_10 = #{deadlineDate10,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate11 != null" >
        DEADLINE_DATE_11 = #{deadlineDate11,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate12 != null" >
        DEADLINE_DATE_12 = #{deadlineDate12,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    where YT_ID = #{ytId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pccw.framework.domain.purchasecontrol.ScdaYearTwodept" >
    update SCDA_YEAR_TWODEPT
    set YT_DEPT = #{ytDept,jdbcType=VARCHAR},
      YT_TYPE = #{ytType,jdbcType=VARCHAR},
      DEADLINE_DATE = #{deadlineDate,jdbcType=VARCHAR},
      DEADLINE_DATE_1 = #{deadlineDate1,jdbcType=VARCHAR},
      DEADLINE_DATE_2 = #{deadlineDate2,jdbcType=VARCHAR},
      DEADLINE_DATE_3 = #{deadlineDate3,jdbcType=VARCHAR},
      DEADLINE_DATE_4 = #{deadlineDate4,jdbcType=VARCHAR},
      DEADLINE_DATE_5 = #{deadlineDate5,jdbcType=VARCHAR},
      DEADLINE_DATE_6 = #{deadlineDate6,jdbcType=VARCHAR},
      DEADLINE_DATE_7 = #{deadlineDate7,jdbcType=VARCHAR},
      DEADLINE_DATE_8 = #{deadlineDate8,jdbcType=VARCHAR},
      DEADLINE_DATE_9 = #{deadlineDate9,jdbcType=VARCHAR},
      DEADLINE_DATE_10 = #{deadlineDate10,jdbcType=VARCHAR},
      DEADLINE_DATE_11 = #{deadlineDate11,jdbcType=VARCHAR},
      DEADLINE_DATE_12 = #{deadlineDate12,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=DATE},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR}
    where YT_ID = #{ytId,jdbcType=VARCHAR}
  </update>
</mapper>