<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pccw.purchaseexecute.mapper.ScdaAoGsGroupbyMapper" >
  <resultMap id="BaseResultMap" type="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupby" >
    <id column="PC_ID" property="pcId" jdbcType="VARCHAR" />
    <result column="DEADLINE_DATE" property="deadlineDate" jdbcType="VARCHAR" />
    <result column="AGG_TYPE" property="aggType" jdbcType="VARCHAR" />
    <result column="AGG_PURCHASE_TYPE" property="aggPurchaseType" jdbcType="VARCHAR" />
    <result column="AGG_PURCHASE_PROJECT_NAME" property="aggPurchaseProjectName" jdbcType="VARCHAR" />
    <result column="AGG_PURCHASE_PROJECT_SUMAMO" property="aggPurchaseProjectSumamo" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PC_ID, DEADLINE_DATE, AGG_TYPE, AGG_PURCHASE_TYPE, AGG_PURCHASE_PROJECT_NAME, AGG_PURCHASE_PROJECT_SUMAMO, 
    CREATION_DATE, CREATED_BY, LAST_UPDATE_DATE, LAST_UPDATED_BY, ENABLE_FLAG, ATTRIBUTE1, 
    ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, 
    ATTRIBUTE9, ATTRIBUTE10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupbyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCDA_AO_GS_GROUPBY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SCDA_AO_GS_GROUPBY
    where PC_ID = #{pcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SCDA_AO_GS_GROUPBY
    where PC_ID = #{pcId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupbyExample" >
    delete from SCDA_AO_GS_GROUPBY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupby" >
    insert into SCDA_AO_GS_GROUPBY (PC_ID, DEADLINE_DATE, AGG_TYPE, 
      AGG_PURCHASE_TYPE, AGG_PURCHASE_PROJECT_NAME, 
      AGG_PURCHASE_PROJECT_SUMAMO, CREATION_DATE, CREATED_BY, 
      LAST_UPDATE_DATE, LAST_UPDATED_BY, ENABLE_FLAG, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6, 
      ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, 
      ATTRIBUTE10)
    values (#{pcId,jdbcType=VARCHAR}, #{deadlineDate,jdbcType=VARCHAR}, #{aggType,jdbcType=VARCHAR}, 
      #{aggPurchaseType,jdbcType=VARCHAR}, #{aggPurchaseProjectName,jdbcType=VARCHAR}, 
      #{aggPurchaseProjectSumamo,jdbcType=VARCHAR}, #{creationDate,jdbcType=DATE}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=DATE}, #{lastUpdatedBy,jdbcType=VARCHAR}, #{enableFlag,jdbcType=VARCHAR}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, 
      #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, 
      #{attribute10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupby" >
    insert into SCDA_AO_GS_GROUPBY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcId != null" >
        PC_ID,
      </if>
      <if test="deadlineDate != null" >
        DEADLINE_DATE,
      </if>
      <if test="aggType != null" >
        AGG_TYPE,
      </if>
      <if test="aggPurchaseType != null" >
        AGG_PURCHASE_TYPE,
      </if>
      <if test="aggPurchaseProjectName != null" >
        AGG_PURCHASE_PROJECT_NAME,
      </if>
      <if test="aggPurchaseProjectSumamo != null" >
        AGG_PURCHASE_PROJECT_SUMAMO,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcId != null" >
        #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="deadlineDate != null" >
        #{deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="aggType != null" >
        #{aggType,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseType != null" >
        #{aggPurchaseType,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseProjectName != null" >
        #{aggPurchaseProjectName,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseProjectSumamo != null" >
        #{aggPurchaseProjectSumamo,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupbyExample" resultType="java.lang.Integer" >
    select count(*) from SCDA_AO_GS_GROUPBY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SCDA_AO_GS_GROUPBY
    <set >
      <if test="record.pcId != null" >
        PC_ID = #{record.pcId,jdbcType=VARCHAR},
      </if>
      <if test="record.deadlineDate != null" >
        DEADLINE_DATE = #{record.deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="record.aggType != null" >
        AGG_TYPE = #{record.aggType,jdbcType=VARCHAR},
      </if>
      <if test="record.aggPurchaseType != null" >
        AGG_PURCHASE_TYPE = #{record.aggPurchaseType,jdbcType=VARCHAR},
      </if>
      <if test="record.aggPurchaseProjectName != null" >
        AGG_PURCHASE_PROJECT_NAME = #{record.aggPurchaseProjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.aggPurchaseProjectSumamo != null" >
        AGG_PURCHASE_PROJECT_SUMAMO = #{record.aggPurchaseProjectSumamo,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null" >
        CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="record.lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.enableFlag != null" >
        ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute1 != null" >
        ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute2 != null" >
        ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute3 != null" >
        ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute4 != null" >
        ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute5 != null" >
        ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute6 != null" >
        ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute7 != null" >
        ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute8 != null" >
        ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute9 != null" >
        ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute10 != null" >
        ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SCDA_AO_GS_GROUPBY
    set PC_ID = #{record.pcId,jdbcType=VARCHAR},
      DEADLINE_DATE = #{record.deadlineDate,jdbcType=VARCHAR},
      AGG_TYPE = #{record.aggType,jdbcType=VARCHAR},
      AGG_PURCHASE_TYPE = #{record.aggPurchaseType,jdbcType=VARCHAR},
      AGG_PURCHASE_PROJECT_NAME = #{record.aggPurchaseProjectName,jdbcType=VARCHAR},
      AGG_PURCHASE_PROJECT_SUMAMO = #{record.aggPurchaseProjectSumamo,jdbcType=VARCHAR},
      CREATION_DATE = #{record.creationDate,jdbcType=DATE},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{record.lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{record.lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{record.enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{record.attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{record.attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{record.attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{record.attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{record.attribute10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupby" >
    update SCDA_AO_GS_GROUPBY
    <set >
      <if test="deadlineDate != null" >
        DEADLINE_DATE = #{deadlineDate,jdbcType=VARCHAR},
      </if>
      <if test="aggType != null" >
        AGG_TYPE = #{aggType,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseType != null" >
        AGG_PURCHASE_TYPE = #{aggPurchaseType,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseProjectName != null" >
        AGG_PURCHASE_PROJECT_NAME = #{aggPurchaseProjectName,jdbcType=VARCHAR},
      </if>
      <if test="aggPurchaseProjectSumamo != null" >
        AGG_PURCHASE_PROJECT_SUMAMO = #{aggPurchaseProjectSumamo,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=DATE},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="enableFlag != null" >
        ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
    </set>
    where PC_ID = #{pcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pccw.framework.domain.purchaseexecute.ScdaAoGsGroupby" >
    update SCDA_AO_GS_GROUPBY
    set DEADLINE_DATE = #{deadlineDate,jdbcType=VARCHAR},
      AGG_TYPE = #{aggType,jdbcType=VARCHAR},
      AGG_PURCHASE_TYPE = #{aggPurchaseType,jdbcType=VARCHAR},
      AGG_PURCHASE_PROJECT_NAME = #{aggPurchaseProjectName,jdbcType=VARCHAR},
      AGG_PURCHASE_PROJECT_SUMAMO = #{aggPurchaseProjectSumamo,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=DATE},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR},
      ENABLE_FLAG = #{enableFlag,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR}
    where PC_ID = #{pcId,jdbcType=VARCHAR}
  </update>
</mapper>